// colores
$primary: #009de0;
$secondary: #ff7d00;
$success: #00c96b;
$info: #ff3cb2;
$warning: #f2c100;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;
$orange: #ff7d00;
$pink: #ff3cb2;

// Prueba de bg en list areas
$prueba: #e9f7fd;
$gray: #f3f6f9;

// options
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-button-pointers: true !default;

$font-size-base: 1.1rem !default;
$h1-font-size: $font-size-base * 2.15 !default;
$h2-font-size: $font-size-base * 1.9 !default;
$h3-font-size: $font-size-base * 1.65 !default;
$h4-font-size: $font-size-base * 1.4 !default;
$h5-font-size: $font-size-base * 1.15 !default;
$h6-font-size: $font-size-base !default;

//$border-radius: 15px;
$border-radius-card: 15px !default;

// $enable-rounded:              true !default;

// No sabia donde crear estas clases, las cree aca.
.bg-gray {
  background-color: $gray !important;
}

.bg-prueba {
  background-color: $prueba !important;
}