html {
  min-height: 100vh;
  position: relative;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .layout-content {
    flex: 1;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.icons {
  display: flex;
  flex-direction: column;
}

.button-card {
  background-color: orange;
}



