html {
  min-height: 100vh;
  position: relative;
}

body {
  //background-color: rgba(pink, 0.8);
  // Teniamos esto por alguna razon, no lo borro por las dudas
  // padding-bottom: 100px;
  margin-bottom: 400px;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.icons {
  display: flex;
  flex-direction: column;
}

.button-card {
  background-color: orange;
}



@media (max-width:767px) {
  body {
    margin-bottom: 600px;
  }
}