.navbar {
  padding: 5px;
  background-color: darken($primary, 0);

  &-brand {
    .mobile {
      width: 120px;
      height: auto;
      display: none;
    }

    .desktop {
      width: 160px;
      height: auto;
      display: block;
    }

    @media (max-width: 767px) {
      .mobile {
        display: block;
      }

      .desktop {
        display: none;
      }
    }
  }

  &-toggler {
    padding: 10px;
    border-radius: 0;
    border: 0;
    color: white;
    scale: 1.2;
  }

  &-nav {
    gap: 20px;

    .nav-link {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.9rem !important;
      letter-spacing: 0.01rem;
      color: white;
      display: inline-block;
      padding: 15px 0;
      transition: all 0.2s ease;

      &.active {
        color: white !important;
        font-weight: 800;
        position: relative;

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 40px;
          background-color: $secondary;
          margin-top: 5px;
        }
      }
    }

    .dropdown {
      &-menu {
        border-radius: 0;
      }

      &-item {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
        color: white;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    &-nav {
      margin-top: 10px;
    }
  }
}
