* {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  letter-spacing: -0.01rem;
}

// estilos generales para todos los titulos
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  //color: $primary;
}

// estilos personalizados para los titulos
h1,
h2,
h3,
h4 {
  //color: $primary;
  font-weight: 800;
}

h1 {
  //color: red;
}


.lead {
  font-weight: 400;
  font-size: $font-size-base * 1.5;
}